## 1.基本使用
### 1.1 生成对象

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
dates = pd.date_range('20200420', periods=6)
dates

DatetimeIndex(['2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23',
               '2020-04-24', '2020-04-25'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-04-20  1.501865 -0.012411  0.291850  0.762320
2020-04-21 -1.971608  0.329659 -1.469964 -0.762326
2020-04-22  1.022592 -0.975789 -2.218869 -0.336384
2020-04-23  0.534975  2.280923 -1.317183 -0.942708
2020-04-24  0.988375 -0.769509  0.275508 -0.873413
2020-04-25 -0.403621 -0.740718 -0.363049  0.287771

In [5]:
df2 = pd.DataFrame({
    'A': 1.,
    'B': pd.Timestamp('20200420'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3]*4, dtype='float32'),
    'E': pd.Categorical(["test1", "test2", "test3", "test4"]),
    'F': 'foo'
})
df2
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D           float32
E          category
F            object
dtype: object

In [6]:
df.describe()  # 查看数据统计摘要

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.278763  0.018692 -0.800285 -0.310790
std    1.276579  1.216743  1.026577  0.697172
min   -1.971608 -0.975789 -2.218869 -0.942708
25%   -0.168972 -0.762311 -1.431769 -0.845642
50%    0.761675 -0.376565 -0.840116 -0.549355
75%    1.014038  0.244141  0.115869  0.131732
max    1.501865  2.280923  0.291850  0.762320

In [7]:
df.T  # 数据转置

   2020-04-20  2020-04-21  2020-04-22  2020-04-23  2020-04-24  2020-04-25
A    1.501865   -1.971608    1.022592    0.534975    0.988375   -0.403621
B   -0.012411    0.329659   -0.975789    2.280923   -0.769509   -0.740718
C    0.291850   -1.469964   -2.218869   -1.317183    0.275508   -0.363049
D    0.762320   -0.762326   -0.336384   -0.942708   -0.873413    0.287771

In [8]:
df.sort_index(axis=1, ascending=False)  # 0代表纵轴 1代表横轴，assending 代表升序

                   D         C         B         A
2020-04-20  0.762320  0.291850 -0.012411  1.501865
2020-04-21 -0.762326 -1.469964  0.329659 -1.971608
2020-04-22 -0.336384 -2.218869 -0.975789  1.022592
2020-04-23 -0.942708 -1.317183  2.280923  0.534975
2020-04-24 -0.873413  0.275508 -0.769509  0.988375
2020-04-25  0.287771 -0.363049 -0.740718 -0.403621

In [9]:
df.sort_values(by='B')  # 对按B列的数据进行排序

                   A         B         C         D
2020-04-22  1.022592 -0.975789 -2.218869 -0.336384
2020-04-24  0.988375 -0.769509  0.275508 -0.873413
2020-04-25 -0.403621 -0.740718 -0.363049  0.287771
2020-04-20  1.501865 -0.012411  0.291850  0.762320
2020-04-21 -1.971608  0.329659 -1.469964 -0.762326
2020-04-23  0.534975  2.280923 -1.317183 -0.942708

In [10]:
# 访问数据
df.A == df['A']

2020-04-20    True
2020-04-21    True
2020-04-22    True
2020-04-23    True
2020-04-24    True
2020-04-25    True
Freq: D, Name: A, dtype: bool

In [11]:
# 切片
df[0:3]

                   A         B         C         D
2020-04-20  1.501865 -0.012411  0.291850  0.762320
2020-04-21 -1.971608  0.329659 -1.469964 -0.762326
2020-04-22  1.022592 -0.975789 -2.218869 -0.336384

In [12]:
df.loc[dates[0]]

A    1.501865
B   -0.012411
C    0.291850
D    0.762320
Name: 2020-04-20 00:00:00, dtype: float64

In [13]:
df.loc['20200420':'20200422','A':'C']  # 可以传入多个参数， 分别代表行和列，求种列支持切片、单个、传入列表，行支持单个、切片

                   A         B         C
2020-04-20  1.501865 -0.012411  0.291850
2020-04-21 -1.971608  0.329659 -1.469964
2020-04-22  1.022592 -0.975789 -2.218869

In [14]:
# 按位置取值
df.iloc[3, 0]
df.iloc[1:3, 2:4]
df.iloc[[0, 1], [1, 2]]
# 获取值支持类似python或者numpy的切片

                   B         C
2020-04-20 -0.012411  0.291850
2020-04-21  0.329659 -1.469964

In [15]:
# 快速访问标量指定值
df.iat[1, 2]

-1.4699644876169828

In [16]:
# 布尔索引
df[df.A > 0]  # 获取A列大于0的所有行

                   A         B         C         D
2020-04-20  1.501865 -0.012411  0.291850  0.762320
2020-04-22  1.022592 -0.975789 -2.218869 -0.336384
2020-04-23  0.534975  2.280923 -1.317183 -0.942708
2020-04-24  0.988375 -0.769509  0.275508 -0.873413

In [17]:
df[df > 0] # 获取dataframe里所有大于0的数据

                   A         B         C         D
2020-04-20  1.501865       NaN  0.291850  0.762320
2020-04-21       NaN  0.329659       NaN       NaN
2020-04-22  1.022592       NaN       NaN       NaN
2020-04-23  0.534975  2.280923       NaN       NaN
2020-04-24  0.988375       NaN  0.275508       NaN
2020-04-25       NaN       NaN       NaN  0.287771

In [18]:
# isin()筛选
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2[df2['E'].isin(["one"])]

                   A         B         C         D    E
2020-04-20  1.501865 -0.012411  0.291850  0.762320  one
2020-04-21 -1.971608  0.329659 -1.469964 -0.762326  one

### 1.2赋值

In [19]:
# 索引自动对齐新增序列
s1 = pd.Series([i for i in range(1, 7)], index=pd.date_range('20200420', periods=6))
s1

2020-04-20    1
2020-04-21    2
2020-04-22    3
2020-04-23    4
2020-04-24    5
2020-04-25    6
Freq: D, dtype: int64

In [20]:
df['F'] = s1
# 按标签赋值
df

                   A         B         C         D  F
2020-04-20  1.501865 -0.012411  0.291850  0.762320  1
2020-04-21 -1.971608  0.329659 -1.469964 -0.762326  2
2020-04-22  1.022592 -0.975789 -2.218869 -0.336384  3
2020-04-23  0.534975  2.280923 -1.317183 -0.942708  4
2020-04-24  0.988375 -0.769509  0.275508 -0.873413  5
2020-04-25 -0.403621 -0.740718 -0.363049  0.287771  6

In [21]:
# 按标签值赋值
df.at[dates[0], 'A'] = 0
# 按位置赋值
df.iat[0, 1 ] = 0
df

                   A         B         C         D  F
2020-04-20  0.000000  0.000000  0.291850  0.762320  1
2020-04-21 -1.971608  0.329659 -1.469964 -0.762326  2
2020-04-22  1.022592 -0.975789 -2.218869 -0.336384  3
2020-04-23  0.534975  2.280923 -1.317183 -0.942708  4
2020-04-24  0.988375 -0.769509  0.275508 -0.873413  5
2020-04-25 -0.403621 -0.740718 -0.363049  0.287771  6

In [22]:
# 按numpy数组赋值
df.loc[:, 'D'] = np.array([5] * len(df))
df

                   A         B         C  D  F
2020-04-20  0.000000  0.000000  0.291850  5  1
2020-04-21 -1.971608  0.329659 -1.469964  5  2
2020-04-22  1.022592 -0.975789 -2.218869  5  3
2020-04-23  0.534975  2.280923 -1.317183  5  4
2020-04-24  0.988375 -0.769509  0.275508  5  5
2020-04-25 -0.403621 -0.740718 -0.363049  5  6

In [23]:
# bool条件赋值
df2 = df.copy()
# 所有大于0的都转化为负数
df2[df2>0] = -df2
df2

                   A         B         C  D  F
2020-04-20  0.000000  0.000000 -0.291850 -5 -1
2020-04-21 -1.971608 -0.329659 -1.469964 -5 -2
2020-04-22 -1.022592 -0.975789 -2.218869 -5 -3
2020-04-23 -0.534975 -2.280923 -1.317183 -5 -4
2020-04-24 -0.988375 -0.769509 -0.275508 -5 -5
2020-04-25 -0.403621 -0.740718 -0.363049 -5 -6

### 1.3缺失值

In [24]:
# pandas使用np.nan表示缺失数据

In [25]:
# 重建索引可以更改、添加、删除指定轴的索引，并返回数据副本
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1  # 第0，1行第E列的值设为1
df1

                   A         B         C  D  F    E
2020-04-20  0.000000  0.000000  0.291850  5  1  1.0
2020-04-21 -1.971608  0.329659 -1.469964  5  2  1.0
2020-04-22  1.022592 -0.975789 -2.218869  5  3  NaN
2020-04-23  0.534975  2.280923 -1.317183  5  4  NaN

In [26]:
# 删除所有含缺失值的行 返回删除后的数据 不修改原始数据
df1.dropna(how='any')

                   A         B         C  D  F    E
2020-04-20  0.000000  0.000000  0.291850  5  1  1.0
2020-04-21 -1.971608  0.329659 -1.469964  5  2  1.0

In [27]:
# 填充缺失值  返回新的数据 不修改原始数据
df1.fillna(value=10)

                   A         B         C  D  F     E
2020-04-20  0.000000  0.000000  0.291850  5  1   1.0
2020-04-21 -1.971608  0.329659 -1.469964  5  2   1.0
2020-04-22  1.022592 -0.975789 -2.218869  5  3  10.0
2020-04-23  0.534975  2.280923 -1.317183  5  4  10.0

### 1.4 统计函数

In [28]:
# 平均值 计算时排除缺失值
df.mean()

A    0.028452
B    0.020761
C   -0.800285
D    5.000000
F    3.500000
dtype: float64

In [29]:
# 在另一轴上求平均值
df.mean(1)

2020-04-20    1.258370
2020-04-21    0.777617
2020-04-22    1.165587
2020-04-23    2.099743
2020-04-24    2.098875
2020-04-25    1.898522
Freq: D, dtype: float64

In [30]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

2020-04-20    NaN
2020-04-21    NaN
2020-04-22    1.0
2020-04-23    3.0
2020-04-24    5.0
2020-04-25    NaN
Freq: D, dtype: float64

In [31]:
df

                   A         B         C  D  F
2020-04-20  0.000000  0.000000  0.291850  5  1
2020-04-21 -1.971608  0.329659 -1.469964  5  2
2020-04-22  1.022592 -0.975789 -2.218869  5  3
2020-04-23  0.534975  2.280923 -1.317183  5  4
2020-04-24  0.988375 -0.769509  0.275508  5  5
2020-04-25 -0.403621 -0.740718 -0.363049  5  6

In [36]:
df.sub(s, axis='index')  # 每一行分别减去s中每个数  空值运算则为空值 返回运算后的数据

                   A         B         C    D    F
2020-04-20       NaN       NaN       NaN  NaN  NaN
2020-04-21       NaN       NaN       NaN  NaN  NaN
2020-04-22  0.022592 -1.975789 -3.218869  4.0  2.0
2020-04-23 -2.465025 -0.719077 -4.317183  2.0  1.0
2020-04-24 -4.011625 -5.769509 -4.724492  0.0  0.0
2020-04-25       NaN       NaN       NaN  NaN  NaN

In [35]:
df

                   A         B         C  D  F
2020-04-20  0.000000  0.000000  0.291850  5  1
2020-04-21 -1.971608  0.329659 -1.469964  5  2
2020-04-22  1.022592 -0.975789 -2.218869  5  3
2020-04-23  0.534975  2.280923 -1.317183  5  4
2020-04-24  0.988375 -0.769509  0.275508  5  5
2020-04-25 -0.403621 -0.740718 -0.363049  5  6

In [39]:
# apply函数
df.apply(lambda x: x.max()-x.min())  #  对每一列进行处理 x代表是每一个colmun

A    2.994200
B    3.256711
C    2.510719
D    0.000000
F    5.000000
dtype: float64

In [41]:
#  直方图
s = pd.Series(np.random.randint(0, 7, size=10))
s.value_counts()

3    3
1    3
6    2
5    2
dtype: int64

In [44]:
# 字符串方法
#  Series的str属性提供字符串处理功能， 模式匹配默认使用正则
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

### 1.5合并(Merge)

In [52]:
# 结合(Concat) y用于连接pandas对象 垂直方向的拼接
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -1.199178 -2.408510  1.771338  1.936711
1  0.512202 -0.656969 -1.302717  0.955445
2  1.122042  1.425040  0.713849 -1.264918
3 -0.034181 -1.843141  2.102551 -0.207680
4  0.467936  0.955840  1.177232  0.468152
5  0.768151 -0.883607 -0.143462  0.185649
6  0.358678  0.591464 -1.188606 -0.403785
7 -1.479500  1.447765  0.789828  1.208071
8  0.182374  0.631810 -1.232570 -0.350817
9 -1.071228 -0.904984 -1.882808  1.786912

In [54]:
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

          0         1         2         3
0 -1.199178 -2.408510  1.771338  1.936711
1  0.512202 -0.656969 -1.302717  0.955445
2  1.122042  1.425040  0.713849 -1.264918
3 -0.034181 -1.843141  2.102551 -0.207680
4  0.467936  0.955840  1.177232  0.468152
5  0.768151 -0.883607 -0.143462  0.185649
6  0.358678  0.591464 -1.188606 -0.403785
7 -1.479500  1.447765  0.789828  1.208071
8  0.182374  0.631810 -1.232570 -0.350817
9 -1.071228 -0.904984 -1.882808  1.786912

In [70]:
# 连接(join) sql风格的合并
left = pd.DataFrame({"key":['foo','foo'], 'lval':[1,2]})
right = pd.DataFrame({"key":['foo','foo'], 'rval':[3,4]})
left,right

(   key  lval
 0  foo     1
 1  foo     2,
    key  rval
 0  foo     3
 1  foo     4)

In [71]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     3
1  foo     1     4
2  foo     2     3
3  foo     2     4

In [72]:
# 追加(Append) 为dataframe追加行
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  0.117103 -0.619120  1.684523 -0.233568
1 -0.105572 -0.143922  0.392825  1.054865
2  0.977832 -0.377912 -0.197107 -0.435436
3  1.170081  1.354668  0.192449 -0.462264
4  1.911649  1.578200  1.949836  1.242506
5  0.835741  0.358160  0.891816  1.043773
6  0.871200  0.499731  0.863299  0.587427
7  0.607754 -0.318252  0.515498  0.059333

In [89]:
s = pd.Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])
help(df.append)

Help on method append in module pandas.core.frame:

append(other, ignore_index=False, verify_integrity=False, sort=False) -> 'DataFrame' method of pandas.core.frame.DataFrame instance
    Append rows of `other` to the end of caller, returning a new object.

    Columns in `other` that are not in the caller are added as new columns.

    Parameters
    ----------
    other : DataFrame or Series/dict-like object, or list of these
        The data to append.
    ignore_index : bool, default False
        If True, do not use the index labels.
    verify_integrity : bool, default False
        If True, raise ValueError on creating index with duplicates.
    sort : bool, default False
        Sort columns if the columns of `self` and `other` are not aligned.

        .. versionadded:: 0.23.0
        .. versionchanged:: 1.0.0

            Changed to not sort by default.

    Returns
    -------
    DataFrame

    See Also
    --------
    concat : General function to concatenate DataFrame or Series objects.

    Notes
    -----
    If a list of dict/series is passed and the keys are all contained in
    the DataFrame's index, the order of the columns in the resulting
    DataFrame will be unchanged.

    Iteratively appending rows to a DataFrame can be more computationally
    intensive than a single concatenate. A better solution is to append
    those rows to a list and then concatenate the list with the original
    DataFrame all at once.

    Examples
    --------

    >>> df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
    >>> df
       A  B
    0  1  2
    1  3  4
    >>> df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
    >>> df.append(df2)
       A  B
    0  1  2
    1  3  4
    0  5  6
    1  7  8

    With `ignore_index` set to True:

    >>> df.append(df2, ignore_index=True)
       A  B
    0  1  2
    1  3  4
    2  5  6
    3  7  8

    The following, while not recommended methods for generating DataFrames,
    show two ways to generate a DataFrame from multiple data sources.

    Less efficient:

    >>> df = pd.DataFrame(columns=['A'])
    >>> for i in range(5):
    ...     df = df.append({'A': i}, ignore_index=True)
    >>> df
       A
    0  0
    1  1
    2  2
    3  3
    4  4

    More efficient:

    >>> pd.concat([pd.DataFrame([i], columns=['A']) for i in range(5)],
    ...           ignore_index=True)
       A
    0  0
    1  1
    2  2
    3  3
    4  4

In [86]:
s = df.iloc[3]
s

A    1.170081
B    1.354668
C    0.192449
D   -0.462264
Name: 3, dtype: float64