## 1.基本使用
### 1.1 生成对象

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [5]:
dates = pd.date_range('20200420', periods=6)
dates

DatetimeIndex(['2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23',
               '2020-04-24', '2020-04-25'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-04-20  1.306384  0.521273  0.591144  0.760069
2020-04-21  0.772947  0.136959  1.399516  0.027104
2020-04-22 -1.203728 -1.642342 -0.491807 -0.031709
2020-04-23 -1.252011  0.097378  0.723450 -1.053562
2020-04-24 -0.189212  1.772852 -1.852801 -1.723982
2020-04-25  0.897561  0.880554 -0.473514 -1.854279

In [12]:
df2 = pd.DataFrame({
    'A': 1.,
    'B': pd.Timestamp('20200420'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3]*4, dtype='float32'),
    'E': pd.Categorical(["test1", "test2", "test3", "test4"]),
    'F': 'foo'
})
df2
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D           float32
E          category
F            object
dtype: object

In [18]:
df.describe()  # 查看数据统计摘要

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.055323  0.294446 -0.017335 -0.646060
std    1.108479  1.130968  1.160055  1.057879
min   -1.252011 -1.642342 -1.852801 -1.854279
25%   -0.950099  0.107273 -0.487234 -1.556377
50%    0.291867  0.329116  0.058815 -0.542636
75%    0.866407  0.790734  0.690373  0.012401
max    1.306384  1.772852  1.399516  0.760069

In [19]:
df.T  # 数据转置

   2020-04-20  2020-04-21  2020-04-22  2020-04-23  2020-04-24  2020-04-25
A    1.306384    0.772947   -1.203728   -1.252011   -0.189212    0.897561
B    0.521273    0.136959   -1.642342    0.097378    1.772852    0.880554
C    0.591144    1.399516   -0.491807    0.723450   -1.852801   -0.473514
D    0.760069    0.027104   -0.031709   -1.053562   -1.723982   -1.854279

In [28]:
df.sort_index(axis=1, ascending=False)  # 0代表纵轴 1代表横轴，assending 代表升序

                   D         C         B         A
2020-04-20  0.760069  0.591144  0.521273  1.306384
2020-04-21  0.027104  1.399516  0.136959  0.772947
2020-04-22 -0.031709 -0.491807 -1.642342 -1.203728
2020-04-23 -1.053562  0.723450  0.097378 -1.252011
2020-04-24 -1.723982 -1.852801  1.772852 -0.189212
2020-04-25 -1.854279 -0.473514  0.880554  0.897561

In [31]:
df.sort_values(by='B')  # 对按B列的数据进行排序

                   A         B         C         D
2020-04-22 -1.203728 -1.642342 -0.491807 -0.031709
2020-04-23 -1.252011  0.097378  0.723450 -1.053562
2020-04-21  0.772947  0.136959  1.399516  0.027104
2020-04-20  1.306384  0.521273  0.591144  0.760069
2020-04-25  0.897561  0.880554 -0.473514 -1.854279
2020-04-24 -0.189212  1.772852 -1.852801 -1.723982

In [32]:
# 访问数据
df.A == df['A']

2020-04-20    True
2020-04-21    True
2020-04-22    True
2020-04-23    True
2020-04-24    True
2020-04-25    True
Freq: D, Name: A, dtype: bool

In [33]:
# 切片
df[0:3]

                   A         B         C         D
2020-04-20  1.306384  0.521273  0.591144  0.760069
2020-04-21  0.772947  0.136959  1.399516  0.027104
2020-04-22 -1.203728 -1.642342 -0.491807 -0.031709